{# test template #}
<!-- code for displaying success or error message in template -->

{% extends "base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<p>{{ title }}</p>
    

    <!-- Form rendering code for template -->

    <form action="" method="post">

        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" class="btn btn-success" value="Reset Password"/>&nbsp;
    </form>
{% endblock %}